@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: poppins;
    scroll-behavior: smooth;
}

a, li {
    list-style: none;
    text-decoration: none;
    color: black;
}

#navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3vh 6vh;

    background: rgb(2,0,36);
    background: linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(7,50,148,1) 48%, rgba(0,212,255,1) 100%);
    border-radius: 0 5px;
    border-bottom: 1px rgb(136, 136, 136) solid;
}

.logo {
    font-weight: 500;
    font-size: 1.5rem;
}

.nav_links li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2vw;
}

.nav_links li a:hover {
    color: rgb(110, 110, 110);
}

